@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "BPG Arial";
    src: url("./assets/font/bpg_arial_2009.ttf") ;
}

@font-face {
    font-family: "TBC Contractica CAPS";
    src: url('./assets/font/TBCContracticaCAPS-Bold.ttf');

}

@font-face {
    font-family: "Anonymous Pro";
    src: url('./assets/font/anonymous-pro.bold.ttf');
   

}
html,body{
    font-family: "BPG Arial";
    width: 100%;
    height: 100%;
    background-color: #EAEAEA;;
}

#app{
    height: 100%;
}

#route_link:hover{
    color: black;
    text-shadow: 1px 1px 0 #fff, 2px 2px 0 #000;

   
}